[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
ExecStartPre=/bin/chmod 544 {{kubeHomeDir}}/bin/kube-controller-manager
ExecStart={{kubeHomeDir}}/bin/kube-controller-manager \
  --address=0.0.0.0 \
  --cluster-cidr={{clusterCidr}} \
  --allocate-node-cidrs=true \
  --cluster-name={{clusterName}} \
  --cluster-signing-cert-file={{kubeHomeDir}}/certs/{{caCert}} \
  --cluster-signing-key-file={{kubeHomeDir}}/certs/{{caKey}} \
  --leader-elect=true \
  --master=http://127.0.0.1:8080 \
  --root-ca-file={{kubeHomeDir}}/certs/{{caCert}} \
  --service-account-private-key-file={{kubeHomeDir}}/certs/{{caKey}} \
  --service-cluster-ip-range={{serviceIpRange}} \
  --v=2
Restart=on-failure
RestartSec=5
LimitNPROC={{LimitNPROC}}
LimitNOFILE={{LimitNOFILE}}

[Install]
WantedBy=multi-user.target
