[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=/bin/chmod 544 {{kubeHomeDir}}/bin/kubelet
ExecStart={{kubeHomeDir}}/bin/kubelet \
  --allow-privileged=true \
  --cluster-dns={{clusterDns}} \
  --cluster-domain={{clusterDomain}} \
  --hostname-override={{ansible_default_ipv4.address}} \
  --container-runtime=docker \
  --network-plugin=cni \
  --cni-bin-dir={{kubeHomeDir}}/bin \
  --cni-conf-dir={{kubeHomeDir}}/cni \
  --serialize-image-pulls=false \
  --register-node=true \
  --require-kubeconfig \
  --kubeconfig={{kubeHomeDir}}/kubelet/kubeconfig \
  --tls-cert-file={{kubeHomeDir}}/certs/{{cert}} \
  --tls-private-key-file={{kubeHomeDir}}/certs/{{key}} \
  --root-dir={{kubeHomeDir}}/kubelet \
  --experimental-allowed-unsafe-sysctls 'net.core.somaxconn'\
  --v=2

Restart=always
RestartSec=10
LimitNPROC=1000000
LimitNOFILE=1000000

[Install]
WantedBy=multi-user.target
