apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: {{ API_ENDPOINT }}
  name: default
contexts:
- context:
    cluster: default
    user: kubelet-bootstrap
  name: default
current-context: default
kind: Config
preferences: {}
users:
- name: kubelet-bootstrap
  user:
    token: {{ BOOTSTRAP_TOKEN }}
