[Unit]
Description=Kubernetes health monitoring for %i

[Service]
Restart=always
RestartSec=10
RemainAfterExit=yes
RemainAfterExit=yes
ExecStartPre=/bin/chmod 544 {{kubeHomeDir}}/bin/health-monitor.sh
ExecStart={{kubeHomeDir}}/bin/health-monitor.sh %i

[Install]
WantedBy=multi-user.target
