# default repository
deb {{repoDebian}} {{ansible_distribution_release}} main
deb-src {{repoDebian}} {{ansible_distribution_release}} main
deb http://security.debian.org/ {{ansible_distribution_release}}/updates main
deb-src http://security.debian.org/ {{ansible_distribution_release}}/updates main

# {{ansible_distribution_release}}-updates, previously known as 'volatile'
deb {{repoDebian}} {{ansible_distribution_release}}-updates main
deb-src {{repoDebian}} {{ansible_distribution_release}}-updates main
